!!! Strict
%html{:lang => 'en'}
  %head
    /%link{:rel => "shortcut icon", :href => "favicon.ico"}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=iso-8859-1"}
    %meta{'http-equiv' => "imagetoolbar", :content => "no"}

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    <!--[if IE]>
    / = stylesheet_link_tag 'internet_explorer.css'
    = javascript_include_tag 'html5shiv.js'
    <![endif]-->

    = csrf_meta_tag 

  %body{:style => "margin-top: 0px"}
  
    %table#table_main.display{:cellpadding => "0", :cellspacing => "0", :border => "0"}
      %tbody
        %tr
          %td#td_topbar{:colspan => "2"}
            /%img{:src => "assets/thecity_topbar.png"}
        %tr
          %td#td_sidebar
            #link_to_app
              %img{:src => "/assets/church.png", :height => '18px', :width => '18px'}
              %p My City App
          %td#td_content
            %section.content.clearfix
              .content-inner
                %header.center_stage#center_stage_adjustment
                  %h1 The City Simulator
              
                  %div{:style => 'color: #8C8C8C; float: right'}
                    powered by 
                    %img{:src => "/assets/church.png", :height => '18px', :width => '18px'}
                    %span My Church

                  %nav.stage-tabs
                    %ul#jsddm
                      %li
                        = link_to('Home', 'javascript:void(0);')
                      %li
                        = link_to('City Apps', 'javascript:void(0);')


                %iframe{:src => '/index;', :style => 'width: 100%;'}

